<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lry.xxs.mapper.StudentMapper">

    <!--表名 -->
    <sql id="tableName">
        user_student
    </sql>

    <!-- 字段 -->
    <sql id="Field">
        user_id,
        student_address,
        student_class,
        student_remark
    </sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
        #{user_id},
        #{student_address},
        #{student_class},
        #{student_remark}
    </sql>

    <!-- 新增 -->
    <insert id="add" parameterType="PageData">
        INSERT INTO
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        ) VALUES (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 根据id删除 -->
    <delete id="deleteById" parameterType="String">
        DELETE FROM
        <include refid="tableName"></include>
        WHERE
        user_id = #{1}
    </delete>

    <!-- 根据id更新 -->
    <update id="updateById" parameterType="PageData">
        UPDATE
        <include refid="tableName"></include>
        SET
        <if test="student_address != null and student_address != ''">
            student_address = #{student_address},
        </if>
        <if test="student_class != null and student_class != ''">
            student_class = #{student_class},
        </if>
        <if test="student_remark != null and student_remark != ''">
            student_remark = #{student_remark},
        </if>
        <if test="student_status != null and student_status != ''">
            student_status = #{student_status},
        </if>
        user_id = user_id
        WHERE
        user_id = #{user_id}
    </update>

    <!-- 查询 -->
    <select id="select" parameterType="PageData" resultType="PageData">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE
        1 = 1
        <if test="user_id != null and user_id != ''">
            AND user_id = #{user_id}
        </if>
        <if test="student_address != null and student_address != ''">
            AND student_address = #{student_address}
        </if>
        <if test="student_class != null and student_class != ''">
            AND student_class = #{student_class}
        </if>
        <if test="student_remark != null and student_remark != ''">
            AND student_remark = #{student_remark}
        </if>
    </select>

    <!-- 返回学生信息（用于教师通过班级绑定申请） -->
    <select id="select1" parameterType="String" resultType="PageData">
        SELECT
        a.user_id,a.student_address,b.user_name
        FROM
        user b LEFT JOIN user_student a ON a.user_id = b.user_id
        WHERE
        a.student_class = #{1}
        and
        a.student_status = 1
    </select>

</mapper>