<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lry.xxs.mapper.TeacherMapper">

    <!--表名 -->
    <sql id="tableName">
        user_teacher
    </sql>

    <!-- 字段 -->
    <sql id="Field">
        user_id,
        teacher_phone,
        teacher_address,
        teacher_class,
        teacher_subject,
        teacher_remark,
        teacher_ishead,
        teacher_headClass
    </sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
        #{user_id},
        #{teacher_phone},
        #{teacher_address},
        #{teacher_class},
        #{teacher_subject},
        #{teacher_remark},
        #{teacher_ishead},
        #{teacher_headClass}
    </sql>

    <!-- 新增 -->
    <insert id="add" parameterType="PageData">
        INSERT INTO
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        ) VALUES (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 根据id删除 -->
    <delete id="deleteById" parameterType="String">
        DELETE FROM
        <include refid="tableName"></include>
        WHERE
        user_id = #{1}
    </delete>

    <!-- 根据id更新 -->
    <update id="updateById" parameterType="PageData">
        UPDATE
        <include refid="tableName"></include>
        SET
        <if test="teacher_phone != null and teacher_phone != ''">
            teacher_phone = #{teacher_phone},
        </if>
        <if test="teacher_address != null and teacher_address != ''">
            teacher_address = #{teacher_address},
        </if>
        <if test="teacher_class != null and teacher_class != ''">
            teacher_class = #{teacher_class},
        </if>
        <if test="teacher_subject != null and teacher_subject != ''">
            teacher_subject = #{teacher_subject},
        </if>
        <if test="teacher_remark != null and teacher_remark != ''">
            teacher_remark = #{teacher_remark},
        </if>
        <if test="teacher_ishead != null and teacher_ishead != ''">
            teacher_ishead = #{teacher_ishead},
        </if>
        <if test="teacher_headClass != null and teacher_headClass != ''">
            teacher_headClass = #{teacher_headClass},
        </if>
        user_id = user_id
        WHERE
        user_id = #{user_id}
    </update>

    <!-- 查询 -->
    <select id="select" parameterType="PageData" resultType="PageData">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE
        1 = 1
        <if test="user_id != null and user_id != ''">
            and user_id = #{user_id}
        </if>
        <if test="teacher_phone != null and teacher_phone != ''">
            and teacher_phone = #{teacher_phone}
        </if>
        <if test="teacher_address != null and teacher_address != ''">
            and teacher_address = #{teacher_address}
        </if>
        <if test="teacher_class != null and teacher_class != ''">
            and teacher_class = #{teacher_class}
        </if>
        <if test="teacher_subject != null and teacher_subject != ''">
            and teacher_subject = #{teacher_subject}
        </if>
        <if test="teacher_remark != null and teacher_remark != ''">
            and teacher_remark = #{teacher_remark}
        </if>
        <if test="teacher_ishead != null and teacher_ishead != ''">
            and teacher_ishead = #{teacher_ishead}
        </if>
        <if test="teacher_headClass != null and teacher_headClass != ''">
            and teacher_headClass = #{teacher_headClass}
        </if>
    </select>

    <select id="selectCheckT" parameterType="PageData" resultType="PageData">
        SELECT u.user_name,u.user_id FROM user_teacher ut LEFT JOIN `user` u ON ut.user_id = u.user_id WHERE ut.teacher_class LIKE CONCAT("%",#{class_id},"%")
    </select>

    <update id="cancleH" parameterType="String">
        UPDATE
        <include refid="tableName"></include>
        SET
            teacher_ishead = '1',
            teacher_headClass = null
        WHERE
        user_id = #{1}
    </update>

    <select id="checkAllT" resultType="PageData">
        SELECT u.user_id,u.user_name,ut.teacher_class,ut.teacher_subject,ut.teacher_ishead,teacher_headClass FROM user_teacher ut LEFT JOIN `user` u ON u.user_id = ut.user_id
    </select>

    <select id="classTeacher" resultType="PageData" parameterType="String">
        SELECT
            ut.teacher_subject,
            ut.user_id tid,
            u.user_name
        FROM
            user_student us
        LEFT JOIN class c ON us.student_class = c.class_id
        LEFT JOIN user_teacher ut ON ut.teacher_class LIKE CONCAT('%', c.class_id, '%')
        LEFT JOIN `user` u ON ut.user_id = u.user_id
        WHERE
            us.user_id = #{1}
    </select>

    <select id="classTeacher1" resultType="PageData" parameterType="String">
        SELECT
            ut.teacher_subject,
            ut.user_id tid,
            u.user_name
        FROM
            user_student us
        LEFT JOIN class c ON us.student_class = c.class_id
        LEFT JOIN user_teacher ut ON ut.teacher_class LIKE CONCAT('%', c.class_id, '%')
        LEFT JOIN `user` u ON ut.user_id = u.user_id
        LEFT JOIN user_parent up ON us.user_id = up.children_id
        WHERE
            up.user_id = #{1}
    </select>
</mapper>