<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lry.xxs.mapper.UserMapper">

    <!--表名 -->
    <sql id="tableName">
        user
    </sql>

    <!-- 字段 -->
    <sql id="Field">
        user_id,
        user_name,
        user_nickname,
        user_image,
        user_password,
        user_type,
        creattime,
        updatetime,
        lastLogintime
    </sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
        #{user_id},
        #{user_name},
        #{user_nickname},
        #{user_image},
        #{user_password},
        #{user_type},
        #{creattime},
        #{updatetime},
        #{lastLogintime}
    </sql>

    <!-- 新增 -->
    <insert id="add" parameterType="PageData">
        INSERT INTO
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        ) VALUES (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 根据id删除 -->
    <delete id="deleteById" parameterType="String">
        DELETE FROM
        <include refid="tableName"></include>
        WHERE
        user_id = #{1}
    </delete>

    <!-- 根据id更新 -->
    <update id="updateById" parameterType="User">
        UPDATE
        <include refid="tableName"></include>
        SET
        <if test="user_name != null and user_name != ''">
            user_name = #{user_name},
        </if>
        <if test="user_nickname != null and user_nickname != ''">
            user_nickname = #{user_nickname},
        </if>
        <if test="user_image != null and user_image != ''">
            user_image = #{user_image},
        </if>
        <if test="user_type != null and user_type != ''">
            user_type = #{user_type},
        </if>
        <if test="updatetime != null">
            updatetime = #{updatetime},
        </if>
        <if test="lastLogintime != null">
            lastLogintime = #{lastLogintime},
        </if>
        user_id = user_id
        WHERE
        user_id = #{user_id}
    </update>

    <!-- 根据id查询 -->
    <select id="selectById" parameterType="String" resultType="User">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE
        user_id = #{1}
    </select>

    <!-- 根据user_id查询密码 -->
    <select id="checkPw" parameterType="String" resultType="String">
        SELECT
        user_password
        FROM
        <include refid="tableName"></include>
        WHERE
        user_id = #{1}
    </select>

    <!-- 根据user_id修改密码 -->
    <update id="changePw">
        UPDATE
        <include refid="tableName"></include>
        SET
        user_password = #{password}
        WHERE
        user_id = #{user_id}
    </update>

    <!-- 根据username查询id -->
    <select id="selectIdByName" parameterType="String" resultType="String">
        SELECT
        user_id
        FROM
        <include refid="tableName"></include>
        WHERE
        user_name = #{0}
    </select>

    <!-- 查询 -->
    <select id="select" parameterType="com.lry.xxs.utils.PageData" resultType="com.lry.xxs.utils.PageData">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE
        1 = 1
        <if test="user_id != null and user_id != ''">
            AND user_id = #{user_id}
        </if>
        <if test="user_name != null and user_name != ''">
            AND user_name = #{user_name}
        </if>
        <if test="user_nickname != null and user_nickname != ''">
            AND user_nickname = #{user_nickname}
        </if>
        <if test="user_image != null and user_image != ''">
            AND user_image = #{user_image}
        </if>
        <if test="user_password != null and user_password != ''">
            AND user_password = #{user_password}
        </if>
        <if test="user_type != null and user_type != ''">
            AND user_type = #{user_type}
        </if>
    </select>

    <select id="bindStudent" parameterType="PageData" resultType="PageData">
        SELECT
        u.user_id, u.user_name, c.class_grade, c.class_class
        FROM
        `user` u
        LEFT JOIN user_student us ON u.user_id = us.user_id
        LEFT JOIN class c ON us.student_class = c.class_id
        <if test="user_name != null and user_name != ''">
            WHERE u.user_name LIKE CONCAT('%',#{user_name},'%')
        </if>
    </select>
</mapper>